[submodule "vega"]
	path = .dependencies/vega
	url = https://github.com/haneoka-gakuen/vega.git
	branch = main

[submodule "vega-renderer-three"]
	path = .dependencies/vega-renderer-three
	url = https://github.com/haneoka-gakuen/vega-renderer-three.git
	branch = main

[submodule "vega-theme-haneoka"]
	path = .dependencies/vega-theme-haneoka
	url = https://github.com/haneoka-gakuen/vega-theme-haneoka.git
	branch = main

[submodule "vega-shell-default"]
	path = .dependencies/vega-shell-default
	url = https://github.com/haneoka-gakuen/vega-shell-default.git
	branch = main

[submodule "vega-ui-portable"]
	path = .dependencies/vega-ui-portable
	url = https://github.com/haneoka-gakuen/vega-ui-portable.git
	branch = main

[submodule "vega-plugin-richtext"]
	path = .dependencies/vega-plugin-richtext
	url = https://github.com/haneoka-gakuen/vega-plugin-richtext.git
	branch = main

[submodule "vega-plugin-cubism"]
	path = .dependencies/vega-plugin-cubism
	url = https://github.com/haneoka-gakuen/vega-plugin-cubism.git
	branch = main

[submodule "vega-plugin-haneoka"]
	path = .dependencies/vega-plugin-haneoka
	url = https://github.com/haneoka-gakuen/vega-plugin-haneoka.git
	branch = main

[submodule "cassiopeia"]
	path = .dependencies/cassiopeia
	url = https://github.com/haneoka-gakuen/cassiopeia.git
	branch = main

[submodule "cassiopeia-plugin-our-notes"]
	path = .dependencies/cassiopeia-plugin-our-notes
	url = https://github.com/haneoka-gakuen/cassiopeia-plugin-our-notes.git
	branch = main

[submodule "cassiopeia-renderer-three"]
	path = .dependencies/cassiopeia-renderer-three
	url = https://github.com/haneoka-gakuen/cassiopeia-renderer-three.git
	branch = main

[submodule "cassiopeia-host-web"]
	path = .dependencies/cassiopeia-host-web
	url = https://github.com/haneoka-gakuen/cassiopeia-host-web.git
	branch = main

[submodule "cassiopeia-ui-vue"]
	path = .dependencies/cassiopeia-ui-vue
	url = https://github.com/haneoka-gakuen/cassiopeia-ui-vue.git
	branch = main

[submodule "cassiopeia-plugin-sonolus"]
	path = .dependencies/cassiopeia-plugin-sonolus
	url = https://github.com/haneoka-gakuen/cassiopeia-plugin-sonolus.git
	branch = main
[submodule "design-tokens"]
	path = .dependencies/design-tokens
	url = https://github.com/haneoka-gakuen/design-tokens.git
	branch = main
[submodule "sonolus-our-notes"]
	path = .dependencies/sonolus-our-notes
	url = https://github.com/haneoka-gakuen/sonolus-our-notes.git
	branch = main

[submodule "cassiopeia-plugin-sekai"]
	path = .dependencies/cassiopeia-plugin-sekai
	url = https://github.com/haneoka-gakuen/cassiopeia-plugin-sekai.git
	branch = main

[submodule "altair-plugin-sandbox"]
	path = .dependencies/altair-plugin-sandbox
	url = https://github.com/haneoka-gakuen/altair-plugin-sandbox.git
	branch = main
